/* Generelt */
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.noMarginHeading {
  margin-top: 0;
}

body {
  font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  margin-top: 60px;
}

address {
  font-style: normal;
}

.centerText {
  text-align: center;
}

img {
  border-radius: 5px;
}

/* includes/header.html */
/*---------- Header ---------*/
header {
  background-color: #dafcff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#headerContainer {
  height: 90px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

header a {
  height: 88%;
  width: 0;
}

header img {
  height: 100%;
  width: auto;
  color: #cbebf3;
}

.sticky {
  height: 60px !important;
  box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -moz-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
}

.content {
  margin-top: 120px !important;
}

h1.headerTitle {
  display: inline;
  font-weight: normal;
  font-size: 1.8em;
}

a.headerHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.headerHome .headerImg {
  height: 80px;
  width: 80px;
  background: url(/images/logo.png) no-repeat;
  background-size: cover;
}

a.headerHome:hover .headerImg {
  background: url(/images/logo_hover.png) no-repeat;
  background-size: cover;
}

/* Burger menu */
#mobileNav {
  background-color: #dafcff;
  text-align: right;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 4px -2px #565656;
  -webkit-box-shadow: 0 4px 4px -2px #565656;
  -moz-box-shadow: 0 4px 4px -2px #565656;
}

.mobileNavList {
  margin: 0;
  list-style: none;
  font-weight: 350;
}

.mobileNavList li {
  padding: 7px 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.mobileNavList li a {
  text-decoration: none;
  color: black;
  padding: 10px 5px;
  font-weight: 400;
}

.burgerContainer {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px) {
  .burgerContainer {
    display: inline-block !important;
  }
  .desktopNav {
    display: none;
  }
}

/* Desktop nav */

nav.desktopNav li {
  position: relative;
}

ul.desktopNavList li {
  display: inline;
  margin-right: 20px;
  font-size: 20px;
}

ul.desktopNavList li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

ul.desktopNavList li a:hover {
  text-shadow: 0 0 0.5px #0a0a0a;
}

.displayNone {
  display: none;
}

/* includes/footer.html */

footer {
  height: 350px;
  background-color: #dafcff;
  margin-top: 100px;
  color: #2b2b2b;
}

#socialIcons {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#socialIcons img {
  height: 45px;
  margin: 10px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

#socialIcons img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#footerPlacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footerPerson {
  margin-bottom: 10px;
  margin-right: 20px;
}

.footerPerson p {
  margin: 0;
  font-weight: 500;
}

.footerPerson span {
  display: block;
  font-weight: 100;
}

.footerPerson img {
  height: 15px;
}

#footerContact {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#bottomFooter {
  background-color: #7cc8de;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#bottomFooter a {
  color: #353535;
  font-size: 14px;
}

/* index.html */

/* Multiple media queries to make snapwidget fit nicely */
iframe.snapwidget-widget {
  height: auto !important;
  min-height: 320px !important;
}

@media screen and (max-width: 900px) {
  iframe.snapwidget-widget {
    min-height: 800px !important;
  }
}

@media screen and (max-width: 620px) {
  iframe.snapwidget-widget {
    min-height: 600px !important;
  }
}

@media screen and (max-width: 500px) {
  iframe.snapwidget-widget {
    min-height: 450px !important;
  }
}

@media screen and (max-width: 400px) {
  iframe.snapwidget-widget {
    min-height: 350px !important;
  }
}

#topSection {
  background-color: #21d4fd;
  background-image: -o-linear-gradient(71deg, #21d4fd 0%, #cbebf3 100%);
  background-image: linear-gradient(19deg, #21d4fd 0%, #cbebf3 100%);
  margin-top: 60px;

  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta {
  display: block;
  text-decoration: none;
  color: #1c1a1a;
  font-weight: 500;
  width: 250px;
  margin: 0 auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 40px;
  background-color: rgba(192, 241, 255, 0.7);
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 0px 3px 0px rgb(76, 76, 76);
  -webkit-box-shadow: 0px 0px 3px 0px rgb(76, 77, 77);
  -moz-box-shadow: 0px 0px 3px 0px rgb(76, 76, 76);
  font-family: Quicksand;
}

#welcomeTextSection {
  background-color: #dafcff;
  padding: 20px;
  margin: 0;
}

.cta:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -moz-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  cursor: pointer;
}

blockquote {
  font-size: 30px;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 1.2em 30px;
  position: relative;
  background-color: rgba(192, 241, 255, 0.5);
  border-radius: 5px;
}

@media screen and (max-width: 620px) {
  blockquote {
    font-size: 24px;
  }
}

section {
  margin-top: 60px;
}

#welcomeText {
  width: 58%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}

#welcomeText h1 {
  text-align: center;
  margin-top: 0px;
}

#locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.location {
  background-color: #f4feff;
  margin: 10px 20px;
  padding: 80px 40px;
  position: relative;
  width: 220px;
  box-shadow: 0px 0px 4px 0px rgb(80, 74, 74);
  -webkit-box-shadow: 0px 0px 4px 0px rgb(80, 74, 74);
  -moz-box-shadow: 0px 0px 4px 0px rgb(80, 74, 74);
  border-radius: 5px;
}

.location p {
  margin: 2px 0;
}

.location > h2 {
  margin: 0 0 10px 0;
}
.location h2 {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  left: 0;
  top: 0;
  background-color: #7cc8de;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.location a {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  left: 0;
  bottom: 0;
  background-color: #c5f2ff;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-top: 10px;
  display: block;
  border-radius: 0 0 5px 5px;
}

.location a:hover {
  font-weight: 700;
}

#people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.person {
  margin: 10px 20px;
  width: 300px;
  background-color: #f4feff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 0px 4px 0px rgb(80, 74, 74);
  -webkit-box-shadow: 0px 0px 4px 0px rgb(80, 74, 74);
  -moz-box-shadow: 0px 0px 4px 0px rgb(80, 74, 74);
  border-radius: 5px;
}

.personInfo {
  padding: 20px;
}

.person h2 {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
}

.person .vocation {
  margin-top: 2px;
}

.person > img {
  width: 100%;
  max-height: 300px;
  border-radius: 5px 5px 0 0;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}

.person a {
  color: black;
  background-color: #c5f2ff;
  display: block;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 0 0 5px 5px;
}

.person a:hover {
  font-weight: bold;
}

.contactInfo span img {
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.contactInfo span {
  display: block;
  font-size: 14px;
}

#employees,
#departments {
  text-align: center;
}

#instagram-section {
  width: 90%;
  margin: 60px auto;
}

/* Bestilling.html */

.normalMargin {
  margin: 0 80px;
}
input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 5px 0px 5px 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f4feff;
  font-family: Verdana;
}

input[type="submit"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

form > p {
  font-weight: 500;
  color: #242d5f;
}

input,
select {
  height: 45px;
}

input,
select,
textarea {
  border: none;
  border-radius: 5px;
  border: 0.4px solid #bdbdbd;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 6px #2196f3;
  -webkit-box-shadow: 0 0 6px #2196f3;
  -moz-box-shadow: 0 0 6px #2196f3;
  outline: none;
  background-color: white;
}

form {
  padding: 50px;
  max-width: 600px;
  background-color: #a3e4f7;
  box-shadow: 0px 0px 5px 0px rgb(147, 147, 147);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(147, 147, 147);
  -moz-box-shadow: 0px 0px 5px 0px rgb(147, 147, 147);
  border-radius: 5px;
}

input,
textarea {
  padding-left: 5px;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

#orderButton {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  background-color: #f4feff;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #cbcfd0;
}

#orderButton:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#f4feff),
    to(#ddfcff)
  );
  background-image: -o-linear-gradient(top left, #f4feff, #ddfcff);
  background-image: linear-gradient(to bottom right, #f4feff, #ddfcff);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

textarea {
  height: 200px;
  resize: none;
}

div#content-dissappear {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formContainer {
  width: 70%;
  min-width: 580px;
}

.inputGroup {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 15px;
}

.fullWidthInput {
  width: 100% !important;
}

.inputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

label {
  width: 180px;
  margin-bottom: 5px;
}

#infoLabel {
  line-height: normal;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select {
  color: #646464;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select {
  color: #646464;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select {
  color: #646464;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select {
  color: #646464;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

input::placeholder,
textarea::placeholder,
select {
  color: #646464;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

textarea ~ label {
  line-height: normal;
}

form > h2 {
  margin-top: 0;
}

@media screen and (max-width: 620px) {
  .inputRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inputGroup {
    width: 100% !important;
  }
  .formContainer {
    width: 90%;
    min-width: 0;
  }
  form {
    padding: 20px;
  }
  #welcomeText {
    width: 80%;
  }
}

select:hover {
  cursor: pointer;
}

form {
  margin: 40px 0px;
}

input#date {
  cursor: pointer;
}

/*Datepicker*/
.ui-widget-header {
  background: none !important;
  background-color: #7cc8de !important;
}

@media screen and (max-width: 390px) {
  .ui-datepicker {
    font-size: 14px !important;
  }
}

/*----------Priser.html ----------*/

#priser {
  background-color: rgb(244, 254, 255);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -moz-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  border-spacing: 0;
}

#priser thead tr {
  height: 50px;
}

#priser th {
  background-color: #8cdef5;
  text-align: left;
}

#priser tr:hover {
  background-color: rgb(166, 234, 241);
}

#priser td,
#priser th {
  padding: 10px 20px;
}

#col1heading {
  border-radius: 5px 0 0 0;
}

#col2heading {
  border-radius: 0 5px 0 0;
}

@media screen and (max-width: 620px) {
  .normalMargin {
    margin: 0 10px;
  }
}

#treatments {
  padding: 0;
}

#treatments > li {
  padding: 10px 20px;
  max-width: 385px;
  display: inline-block;
  background-color: #dafcff;
  border-radius: 5px;
  margin: 5px;
}

#priceSection {
  margin: 0;
}

#treatmentImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#treatmentImages img {
  width: 250px;
  height: 333px;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  #treatmentImages {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #treatmentImages img {
    width: 200px;
    height: 267px;
  }
}

@media screen and (max-width: 400px) {
  #treatmentImages img {
    width: 120px;
    height: 160px;
  }
}

/*---------- om_oss.html ----------*/

#aboutMidtbyen img {
  width: 250px;
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

#aboutPeople {
  clear: right;
}

#aboutPeople h2 {
  margin-bottom: 20px !important;
}

#aboutHeading {
  margin-top: 20px;
}

.aboutPerson {
  background-color: #ebfdff;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -webkit-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  -moz-box-shadow: 0px 0px 5px 0px rgb(76, 76, 76);
  border-radius: 5px;
  margin-bottom: 30px;
}

.aboutPerson .contactInfo {
  width: auto;
}

.aboutPerson .contactInfo span {
  font-size: 14px;
}

.aboutPerson h3 {
  margin: 0;
  font-weight: 600;
}

.imgPlacer {
  width: 230px;
}

.aboutPerson img {
  max-width: 100%;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#aboutMidtbyen,
#aboutPeople {
  margin-bottom: 40px;
}

@media screen and (max-width: 550px) {
  .aboutPerson img {
    margin-bottom: 10px;
  }
  .imgPlacer {
    width: 100%;
  }
  .aboutPerson h3 {
    text-align: center;
  }
  .aboutPerson {
    width: 86%;
  }
}

@media screen and (max-width: 500px) {
  #aboutMidtbyen img {
    width: 100%;
    height: auto;
  }
}
